.loader_container{
    display: flex;
    background: #ffffff52;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.loader_container > div {    
    margin: 0 auto;
    width: 16%;
}