.task_text_container
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.todo_task
{
    display: flex;
    justify-content: flex-start;    
    background-color: #f3f3f3;
    margin: 5px 0;
    border-radius: 5px;
    transition: all 0.2s linear 0.2s;    
    border-bottom: 2px solid #fff;
    padding: 10px;
}

.todo_task:hover
{
    background-color: #fff;
    cursor: pointer;
    border-bottom: 2px solid #FDB931;
    transition: all 0.2s linear 0.2s;
}

.todo_task > .task_text_container > span
{
    padding: 10px;
    text-overflow: clip;
    max-width: 75vw;
}

.task_buttons
{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
    margin-left: auto;
    opacity: 0;
}

.todo_task:hover > .task_buttons 
{
    opacity: 1;
    transition: all 0.2s ease-in 0.2s;
}

.checkbox_container
{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
}

.edit_task {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.edit_task > :first-child{
    margin: 0 5px;
}